<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../public/css/crear-administrador.css")
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        title Document
    body
        div.contenedor 
            div.contenedorFormulario 
                div.Titular 
                    h1 Registrar 
                form(action="/crear-administrador", method="post")
                    div.form-group 
                        input(type="email",class="form-control" name="email")
                    div.form-group 
                        input(type="password", class="form-control" name="password")
                    div.form-group 
                        input(type="submit",class="form-control" value="Registrar")  

            div.contenedorImagen 
                div.imagen.rounded-circle
                    img(src="", alt="")






