extends navegacion
block contenido
    link(rel="stylesheet", href="../public/css/galeria.css")

    section
    ul.row
        li.col-3 
            img(src="../public/assets/imagenes/chicaLinda1.jpg" class="imagen") 

        li.col-3 

            img(src="../public/assets/imagenes/estosMans.jpg" class="imagen")
        li.col-3 
            img(src="../public/assets/imagenes/estosMans1.jpg" class="imagen")
       
      
